.square {
    display: flex;
    height: 20px;
    width: 20px;
    width: 100%;
    background-color: white;
    border: solid lightblue 1px;
    z-index: 0;
}

img {
    pointer-events: none;
}

.showArrow{
    content: url("https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/triangletwo-right.svg");
    position: absolute;
    z-index: 10000;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.showTarget{
    content: url("https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/circle.svg");
    position: absolute;
    z-index: 10000;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}