<div class="main-container">
  <div class="button-row">
      <p>Modify width: </p>
      <div class="columnButtons">
        <button (click)="increaseWidth()">+</button>
        <button (click)="decreaseWidth()">-</button>
      </div>

      <p>Modify height: </p>
      <div class="columnButtons">
        <button (click)="increaseHeight()">+</button>
        <button (click)="decreaseHeight()">-</button> 
        </div>
    <button>Run</button>
  </div>
  <div class="board-container">
    <div *ngFor="let index of width">
      <div *ngFor="let index of height">
        <app-square [hover]="value" (eventItem)="handleEvent()"></app-square>
      </div>
    </div>
  </div>  
</div>
  
