<div class="main-container">
  <div class="navbar-container">
      <mat-form-field>
        <mat-label>Algorithms</mat-label>
        <mat-select [(value)]="selectedAlgorithm" (selectionChange)="onAlgorithmChange()">
          <mat-option value="Dijkstra">Dijkstra</mat-option>
          <mat-option value="A*">A*</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose Node</mat-label>
        <mat-select [(value)]="selectedNode" (selectionChange)="onNodeChange()">
          <mat-option [value]="NodeSelection.Start">Start</mat-option>
          <mat-option [value]="NodeSelection.Obstacle">Obstacle</mat-option>
          <mat-option [value]="NodeSelection.Target">Target</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button (click)="Visualize()" [disabled]="this.disableVisualize()">Visualize</button>
      <button mat-raised-button (click)="clearBoard()">Clear Board</button>
      <button mat-raised-button (click)="clearObstacles()">Clear Obstacles</button>
      <button mat-raised-button (click)="clearShortestPath()">Clear Path</button>


      <input matInput class="sizeController" type="number" placeholder="Edit Width 5 - 30" [min]="5" [max]="30" (input)="modifyWidth($event)">
      <input matInput class="sizeController" type="number" placeholder="Edit Height 5 - 20" [min]="5" [max]="20" (input)="modifyHeight($event)">
  </div>

  <div class="board-container" >
    <div *ngFor="let w of width; index as posX">
      <div *ngFor="let h of height; index as posY">
        <app-square class="singleSquare" squareID="{{'Square' + ((posX * this.height.length) + posY)}}" id="{{'Square' + ((posX * this.height.length) + posY)}}"></app-square>
      </div>
    </div>
  </div>  
</div>
  