.main-container {
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.board-container{
    display: flex;
    justify-content: center;
    width:100%;
    height: 80%;
}

.navbar-container {
    display: flex;
    height: 5%;
    background-color: #34495E;
}

.title {
    display: flex;
    align-self: center;
    color: white;
    width: 20%;
    font-size: 35px;
    p {
        margin-bottom: 0px;
        margin-left: 10px;
    }
    :hover{
        color: rgb(63, 162, 63) !important;
    }
}

.toolbox{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin-left: 100px;
    margin-right: 100px;
}

.button{
    color: white !important;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    :hover{
        color: lightgreen !important;
    }
    
}

.legend {
    display: flex;
    justify-content: center;

    li {
        display: inline;
        padding: 0 28px 0 0;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: bold ;
        color: #34495e;   
    }
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-bottom: 15px;
}

.node {
    border: 1px solid lightblue;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 0.35em;
    margin: 0 0.42em;
}

.showArrow {
    content: url("https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/triangletwo-right.svg");
    vertical-align: text-top;
}

.showTarget{
    content: url("https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/circle.svg");
    vertical-align: text-top;
}

.unvisited {
    background-color: white;
}

.visited {
    background-color: rgba(0, 190, 218, 0.75);

}

.shortest-path {
    background-color: rgb(255, 254, 106);
}

.wall {
    background-color: black;
}
.visualize-button{
    background-color: lightgreen;
    padding: 8px;
}

.singleSquare {
    user-select: none;
}